*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    
    color: #333;
}

.header {
    background: #3eaadd;
    color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
    max-width: 50rem;
}

.header__title {
    margin: 0;
    padding: 0;
    
    font-size: 1rem;
}

.navigation__list {
    display: flex;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.navigation__item:not(:last-of-type) {
    margin-right: 0.5rem;
}

.navigation__link {
    display: block;
    
    text-decoration: none;
    
    color: #fff;
}

.navigation__link.current,
.navigation__link:hover {
    text-decoration: underline;
}

.content {
    margin: 0 auto;
    padding: 1rem;
    max-width: 50rem;
}

.timespan__button {
    padding: 0 0.6rem;
    
    text-transform: lowercase;
    line-height: 1.8rem;
    
    background: #8fc0d7;
    color: #fff;
    
    border: none;
    border-radius: 0.9rem;
}

.timespan__button:not(:last-of-type) {
    margin-right: 0.2rem;
}

.timespan__button.current {
    background: #3eaadd;
}

.timespan__button:hover {
    cursor: pointer;
}

.graph__chart {
    max-width: 100%;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings__text {
    max-width: 20rem;
    
    line-height: 1.4;
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    
    color: #7a7a7a;
}

.settings__button {
    display: block;
    margin: 1rem auto;
    padding: 0rem 0.8rem;
    
    line-height: 2.2rem;
    
    background: #8fc0d7;
    border: none;
    border-radius: 1.1rem;
    color: #fff;
}

.settings__button:hover {
    text-decoration: underline;
    
    cursor: pointer;
}